[submodule "ext/hpp_production_workflows"]
	path = ext/hpp_production_workflows
	url = https://github.com/human-pangenomics/hpp_production_workflows
[submodule "ext/secphase"]
	path = ext/secphase
	url = https://github.com/mobinasri/secphase
